language: c++
os: linux
sudo: false

env:
  - BUILDTYPE=debug
  - BUILDTYPE=release

compiler: gcc

addons: &gcc6
  apt:
    sources: &gcc
      - ubuntu-toolchain-r-test
    packages: g++-6

install:
  - if [ "$CXX" = "g++" ]; then export CXX="g++-6"; fi

script:
  - ./waf distclean configure --mode=$BUILDTYPE build install --alltests -j1 --prefix=/usr --destdir=./build/destdir
