language: c++
sudo: required
services:
  - docker

env:
  - COMPILER=g++-6 BUILDTYPE=debug
  - COMPILER=g++-6 BUILDTYPE=release
  - COMPILER=g++-6 BUILDTYPE=coverage
  - COMPILER=clang++-3.8 BUILDTYPE=debug
  - COMPILER=clang++-3.8 BUILDTYPE=release

before_install:
  - docker build -t attugit/testing -f ci/$COMPILER.docker .

script:
  - docker run --env=CXX=$COMPILER --env=MODE=$BUILDTYPE --workdir=/attugit/archie attugit/testing /bin/bash -c "./ci/run.sh"
