sudo: false
cache: apt
language: cpp

matrix:
  include:
    - env: COMPILER=g++-5
      compiler: g++-5
      addons:
        apt:
          sources: ubuntu-toolchain-r-test
          packages: g++-5
    - env: COMPILER=g++-6
      compiler: g++-6
      addons:
        apt:
          sources: ubuntu-toolchain-r-test
          packages: g++-6
    - env: COMPILER=clang++-3.8
      compiler: clang++-3.8
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise-3.8
            - llvm-toolchain-precise
          packages:
            - clang-3.8
            - g++-5

before_install:
  - export CXX=$COMPILER
  - which $CXX

script:
  - rm -rf build;
  - CXX=$COMPILER ./waf distclean configure build --alltests -j1
  - CXX=$COMPILER ./waf distclean configure build_release --alltests -j1

