sudo: false
cache: apt
language: cpp

matrix:
  include:
    - env: COMPILER=g++-5
      compiler: g++-5
      addons:
        apt:
          sources: ubuntu-toolchain-r-test
          packages:
            - g++-5
            - python-virtualenv
    - env: COMPILER=clang++-3.8
      compiler: clang++-3.8
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise-3.8
            - llvm-toolchain-precise
          packages:
            - clang-3.8
            - g++-5

before_install:
  - export CXX=$COMPILER
  - which $CXX
  - |
    if [[ "${COMPILER}" == "g++-5" ]]; then
      virtualenv coverage
      source coverage/bin/activate
      pip install gcovr
      deactivate
    fi

script:
  - rm -rf build;
  - CXX=$COMPILER ./waf distclean configure build --alltests -j1
  - CXX=$COMPILER ./waf distclean configure build_release --alltests -j1
  - |
    if [[ "${COMPILER}" == "g++-5" ]]; then
      CXX=$COMPILER ./waf distclean configure build_coverage --alltests -j1
      source coverage/bin/activate
      gcovr -e test/catch.hpp -b -r .
      gcovr -e test/catch.hpp -r .
      deactivate
    fi
