language: c++
os: linux
sudo: false

env:
  matrix:
    - TRAVIS_EMPTY_JOB_WORKAROUND=true

addons: &gcc6
  apt:
    sources: &gcc
      - ubuntu-toolchain-r-test
    packages: g++-6
    #sources: &llvm
    #  - ubuntu-toolchain-r-test
    #  - llvm-toolchain-precise
    #  - llvm-toolchain-precise-3.8

matrix:
  exclude:
    - env: TRAVIS_EMPTY_JOB_WORKAROUND=true

  include:
    - env: COMPILER=g++-6
      compiler: gcc
      addons: *gcc6

  #allow_failures:
  #  - env: COMPILER=clang++-3.8
  #    compiler: clang
  #    addons: &clang38
  #      apt:
  #        packages: clang-3.8
  #        sources: *llvm

  fast_finish: true

before_install:
  - export CXX=$COMPILER
  - which $CXX

script:
  - rm -rf build;
  - CXX=$COMPILER ./waf distclean configure build --alltests -j1
  - CXX=$COMPILER ./waf distclean configure build_release --alltests -j1
